php_flag display_errors on

RewriteEngine On

RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f


#Usuarios
RewriteRule ^usuarios$ Controllers/usuariosController.php [L]

#Sesiones
RewriteRule ^sesiones$ Controllers/sesionesController.php [L]
RewriteRule ^sesiones/([0-9]+)$ Controllers/sesionesController.php?id_sesion=$1 [L]


#Memes
RewriteRule ^memes$ Controllers/memesController.php? [L]
RewriteRule ^memes/tag=(.*)$ Controllers/memesController.php?tag=$1 [L]
RewriteRule ^memes/populares=(.*)$ Controllers/memesController.php?populares=$1 [L]
RewriteRule ^memes/usuario_id=([0-9]+)$ Controllers/memesController.php?usuario_id=$1 [L]
RewriteRule ^memes/usuario_id=([0-9]+)/meme_id=([0-9]+)$ Controllers/memesController.php?usuario_id=$1&meme_id=$2 [L]


#Comentarios
RewriteRule ^comentarios$ Controllers/comentariosController.php? [L]
RewriteRule ^comentarios/meme_id=([0-9]+)$ Controllers/comentariosController.php?meme_id=$1 [L]

#Tags
RewriteRule ^tags$ Controllers/tagsController.php? [L]

#Memes_tags
RewriteRule ^memes_tags$ Controllers/memesTagsController.php? [L]
RewriteRule ^memes_tags/meme_id=([0-9]+)$ Controllers/memesTagsController.php?meme_id=$1 [L]