*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* @media (min-width: 320px){
    .col-m-1{width: 8.33%;}
    .col-m-2{width: 16.66%;}
    .col-m-3{width: 25%;}
    .col-m-4{width: 33.33%;}
    .col-m-s5{width: 41.66%;}
    .col-m-6{width: 50%;}
    .col-m-7{width: 58.33%;}
    .col-m-8{width: 66.66%;}
    .col-m-9{width: 75%;}
    .col-m-10{width: 83.33%;}
    .col-m-11{width: 91.66%;}
    .col-m-12{width: 100%}
} */


@media(min-width: 0px){
    .col-s-1 {width: 8.33%; }
    .col-s-2 {width: 16.66%; }
    .col-s-3 {width: 25%; }
    .col-s-4 {width: 33.33%; }
    .col-s-5 {width: 41.66%; }
    .col-s-6 {width: 50%; }
    .col-s-7 {width: 58.33%; }
    .col-s-8 {width: 66.66%; }
    .col-s-9 {width: 75%; }
    .col-s-10 {width: 83.33%; }
    .col-s-11 {width: 91.66%; }
    .col-s-12 {width: 100%; }
}

@media(min-width: 770px){
    .col-m-1 {width: 8.33%; }
    .col-m-2 {width: 16.66%; }
    .col-m-3 {width: 25%; }
    .col-m-4 {width: 33.33%; }
    .col-m-5 {width: 41.66%; }
    .col-m-6 {width: 50%; }
    .col-m-7 {width: 58.33%; }
    .col-m-8 {width: 66.66%; }
    .col-m-9 {width: 75%; }
    .col-m-10 {width: 83.33%; }
    .col-m-11 {width: 91.66%; }
    .col-m-12 {width: 100%; }

    .offset-m-1 {margin-left: 8.33%; }
    .offset-m-2 {margin-left: 16.66%; }
    .offset-m-3 {margin-left: 25%; }
    .offset-m-4 {margin-left: 33.33%; }
    .offset-m-5 {margin-left: 41.66%; }
    .offset-m-6 {margin-left: 50%; }
    .offset-m-7 {margin-left: 58.33%; }
    .offset-m-8 {margin-left: 66.66%; }
    .offset-m-9 {margin-left: 75%; }
    .offset-m-10 {margin-left: 83.33%; }
    .offset-m-11 {margin-left: 91.66%; }
    .offset-m-12 {margin-left: 100%; }
}

[class*="col-"]{
    float: left;
}

.row::after{
    content: "";
    clear: both;
    display: table;
}

body{
<<<<<<< HEAD
    font-family: sans-serif;
    background-color: #97AAbd;
=======
    background-color: #737373;
>>>>>>> 2d31ad95619c498adbfdab13f4e595f338079096
}

nav{
    background-color: #c3073f;
    height: 80px;
    width: 100%;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: #26171B;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

nav a.active, nav a:hover{
    background: #A6A6A6;
    transition: .5s;
}

.checkbtn{
font-size: 30px;
color: white;
float: right;
line-height: 80px;
margin-right: 40px;
cursor: pointer;
display: none;
}
#check{
display: none;
}
  
section{
background: url(bg1.jpg) no-repeat;
background-size: cover;
height: calc(100vh - 80px);
}

#search{
    display: inline-block;
    width: 75%;
    text-align: right;
}

#search input{
    width: 65px;
    transition: width 2s;
}

#search input:focus{
    width: 200px;
}

label.logo{
    color: black;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

.container {
    padding-left: 1em;
    padding-right: 1em;
}

.text-center{
    text-align: center;
}

.pb-y-1 {
    padding-bottom: 1em;
}
.pb-y-2 {
    padding-bottom: 2em;
}

.py-1 {
    padding-top: 1em; 
    padding-bottom: 1em;
}
.py-2 {
    padding-top: 2em; 
    padding-bottom: 2em;
}
.py-3 {
    padding-top: 3em; 
    padding-bottom: 3em;
}
.py-4 {
    padding-top: 4em; 
    padding-bottom: 4em;
}

.p-1 {
    padding: 1em;
}

.my-3 {
    margin-top: 3em;
    margin-bottom: 3em;
}

.my-b-2 {
    margin-bottom: 2em;
}

.float-right {
    float: right;
}

.back-white {
    background-color: #fff;
}

.rounded-border {
    border-radius: 5px;
}



.meme {
    max-width: 90%;
    height: auto;
}

.icono {
    width: 40px;
    height: auto;
    padding: 0.3em;
}

.icono:hover {
    background-color: black;
    border-radius: 5px;
}




.padd-top{
    padding-top: 1.5em;
}

.img-log{
    width: 150px;
    height: 150px;
}

.loginbox{
    width: 320px;
    height: 420px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
.loginbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #255efb;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
.loginbox input[type="submit"]:hover
{
    cursor: pointer;
    background: #4566c0;
    color: #000;
}
.loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}

.loginbox a:hover
{
    color: #ffc107;
}




