*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.titulo-pop{
    padding-bottom: 0px;
}

/*media queries para hacer el nav responsivo*/
@media screen and (max-width: 860px){
    nav ul li a{
        font-size: 14px;
        padding: 7px 13px;
    }

    label.logo{
        font-size: 35px;
        padding: 0 10px;
    }

    /* Make the paragraph in the comments take up the whole width,
    forcing the avatar and user info to wrap to the next line*/
    .comment p{
        width: 100%;
    }

    /* Reverse the order of elements in the user comments,
    so that the avatar and info appear after the text. */
    .comment.user-comment .info{
        order: 3;
        text-align: left;
    }

    .comment.user-comment .avatar{
        order: 2;
    }

    .comment.user-comment p{
        order: 1;
    }


    /* Align toward the beginning of the container (to the left)
    all the elements inside the author comments. */
    .comment.author-comment{
        justify-content: flex-start;
    }


    .comment-section{
        margin-top: 10px;
    }

    .comment .info{
        width: auto;
    }

    .comment .info a{
        padding-top: 15px;
    }

    .comment.user-comment .avatar,
    .comment.author-comment .avatar{
        padding: 15px 10px 0 18px;
        width: auto;
    }

    .comment.user-comment p:after,
    .comment.author-comment p:after{
        width: 12px;
        height: 12px;
        top: initial;
        left: 28px;
        bottom: -6px;
    }

    .write-new{
        width: 100%;
    }
}

nav{
    overflow: hidden;
    background-color: #c3073f;
    min-height: 80px;
    height: auto;
    width: 100%;
    vertical-align: center;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
}

nav ul li a{
    color: #26171B;
    border-radius: 3px;
    text-transform: uppercase;
}


nav a.active, nav a:hover{
    background: #A6A6A6;
    transition: .5s;
}

.boton-menu{
    display: none;
}

.boton-menu a {
    font-size: 2.2em;
    font-weight: bolder;
}

#search{
    display: inline-block;
    width: 75%;
    text-align: right;
}

#search input{
    padding: 0.2em;
    width: 70px;
    transition: width 1s;
}

#search input:focus{
    width: 180px;
}

@media(min-width: 0px){
    .col-s-1 {width: 8.33%; }
    .col-s-2 {width: 16.66%; }
    .col-s-3 {width: 25%; }
    .col-s-4 {width: 33.33%; }
    .col-s-5 {width: 41.66%; }
    .col-s-6 {width: 50%; }
    .col-s-7 {width: 58.33%; }
    .col-s-8 {width: 66.66%; }
    .col-s-9 {width: 75%; }
    .col-s-10 {width: 83.33%; }
    .col-s-11 {width: 91.66%; }
    .col-s-12 {width: 100%; }

    .offset-s-1 {margin-left: 8.33%; }
    .offset-s-2 {margin-left: 16.66%; }
    .offset-s-3 {margin-left: 25%; }
    .offset-s-4 {margin-left: 33.33%; }
    .offset-s-5 {margin-left: 41.66%; }
    .offset-s-6 {margin-left: 50%; }
    .offset-s-7 {margin-left: 58.33%; }
    .offset-s-8 {margin-left: 66.66%; }
    .offset-s-9 {margin-left: 75%; }
    .offset-s-10 {margin-left: 83.33%; }
    .offset-s-11 {margin-left: 91.66%; }
    .offset-s-12 {margin-left: 100%; }
}

@media(min-width: 770px){
    .col-m-1 {width: 8.33%; }
    .col-m-2 {width: 16.66%; }
    .col-m-3 {width: 25%; }
    .col-m-4 {width: 33.33%; }
    .col-m-5 {width: 41.66%; }
    .col-m-6 {width: 50%; }
    .col-m-7 {width: 58.33%; }
    .col-m-8 {width: 66.66%; }
    .col-m-9 {width: 75%; }
    .col-m-10 {width: 83.33%; }
    .col-m-11 {width: 91.66%; }
    .col-m-12 {width: 100%; }

    .offset-m-1 {margin-left: 8.33%; }
    .offset-m-2 {margin-left: 16.66%; }
    .offset-m-3 {margin-left: 25%; }
    .offset-m-4 {margin-left: 33.33%; }
    .offset-m-5 {margin-left: 41.66%; }
    .offset-m-6 {margin-left: 50%; }
    .offset-m-7 {margin-left: 58.33%; }
    .offset-m-8 {margin-left: 66.66%; }
    .offset-m-9 {margin-left: 75%; }
    .offset-m-10 {margin-left: 83.33%; }
    .offset-m-11 {margin-left: 91.66%; }
    .offset-m-12 {margin-left: 100%; }
}

[class*="col-"]{
    float: left;
}

.row::after{
    content: "";
    clear: both;
    display: table;
}

body{
    font-family: sans-serif;
    background-color: #97AAbd;
}



.checkbtn{
font-size: 30px;
color: white;
float: right;
line-height: 80px;
margin-right: 40px;
cursor: pointer;
display: none;
}
#check{
display: none;
}
  
section{
background: url(bg1.jpg) no-repeat;
background-size: cover;
height: calc(100vh - 80px);
}

label.logo{
    color: black;
    line-height: 80px;
    font-weight: bold;
}

.container {
    padding-left: 1em;
    padding-right: 1em;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.direction-column {
    flex-direction: column;
}

.pb-0p25 {
    padding-bottom: 0.25em;
}

.pb-1 {
    padding-bottom: 1em;
}
.pb-2 {
    padding-bottom: 2em;
}

.py-1 {
    padding-top: 1em; 
    padding-bottom: 1em;
}
.py-2 {
    padding-top: 2em; 
    padding-bottom: 2em;
}
.py-3 {
    padding-top: 3em; 
    padding-bottom: 3em;
}
.py-4 {
    padding-top: 4em; 
    padding-bottom: 4em;
}

.p-1 {
    padding: 1em;
}

.p-2 {
    padding: 2em;
}

.my-1 {
    margin-top: 1em;
    margin-bottom: 1em;
}

.my-2 {
    margin-top: 2em;
    margin-bottom: 2em;
}

.my-3 {
    margin-top: 3em;
    margin-bottom: 3em;
}

.mb-1 {
    margin-bottom: 1em;
}


.mb-2 {
    margin-bottom: 2em;
}

.h-100p {
    height: 100%;
}


.text-center{
    text-align: center;
}

.align-top{
    vertical-align: top;
}


.float-right {
    float: right;
}

.float-bottom {
    margin-top: auto;
}

.back-white {
    background-color: #fff;
}

.rounded-border {
    border-radius: 5px;
}

.bb {
    border-bottom: 1px solid #aaa;
}


.meme {
    max-width: 100%;
    height: auto;
}

.icono {
    width: 40px;
    height: auto;
    padding: 0.3em;
}

.icono:hover {
    background-color: black;
    border-radius: 5px;
}


.tags{
    color: blue;
}



.padd-top{
    padding-top: 1.5em;
}

.img-log{
    width: 150px;
    height: 150px;
}

.loginbox{
    width: 320px;
    height: 420px;
    background: #000;
    color: #fff;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    padding: 70px 30px;
    margin-top: 90px; 
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

h1{
    margin: 0;
    padding: 0 0 20px;
    font-size: 22px;
}

.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
.loginbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #255efb;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
.loginbox input[type="submit"]:hover
{
    cursor: pointer;
    background: #4566c0;
    color: #000;
}
.loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}

.loginbox a:hover
{
    color: #ffc107;
}


.popu{
    text-align: center;
}


.img-generador {
    margin-left: 0.2em;
    max-width: 97%;
    height: auto;
}


.entrada {
	border: none;
	/* height: 48px; */
	outline: none;
}

.entrada[type="text"] {
	background-color: #fff;
    font-size: 1em;
	border: 1px solid #000;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
	color: #363636;
    padding: 0.5em;
    margin: 0.5em;
}

.entrada-titulo {
    width: 95%;
    max-width: 24em;
    overflow: hidden;
}

.entrada-txt {
    width: 95%;
}

.entrada[type="submit"], .entrada[type="button"] {
	background-color: #4566c0;
	border: 1px solid #4566c0;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
	color: #fff;
	font-weight: bold;
    text-align: center;
    font-size: 0.95em;
    padding: 0.6em 0.5em;
    margin: 0.2em 0.4em;
	min-width: 12em;
}

.entrada[type="submit"]:hover, .entrada[type="button"]:hover {
	background-color: #2c70c6;
    box-shadow: 2px 2px 5px  #4566c0, #fff 0 -1px 2px;
}

.caja-comentarios {
    margin: 0.5em;
    padding: 0.3em;
    resize: none;
    border-radius: 4px;
    width: 90%;
    height: 7em;
    font-size: 1em;
}


.comment-section{
    list-style: none;
    max-width: 800px;
    width: 100%;
    margin: 50px auto;
    padding: 10px;
}

.comment{
    display: flex;
    border-radius: 3px;
    margin-bottom: 45px;
    flex-wrap: wrap;
}

.comment.user-comment{
    color:  #808080;
}

.comment.author-comment{
    color:  #60686d;
    justify-content: flex-end;
}

/* User and time info */

.comment .info{
    width: 17%;
}

.comment.user-comment .info{
    text-align: right;
}

.comment.author-comment .info{
    order: 3;
}


.comment .info a{	/* User name */
    display: block;
    text-decoration: none;
    color: #656c71;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 10px 0 3px 0;
}

.comment .info span{	/* Time */
    font-size: 11px;
    color:  #9ca7af;
}


/* The user avatar */

.comment .avatar{
    width: 8%;
}

.comment.user-comment .avatar{
    padding: 10px 18px 0 3px;
}

.comment.author-comment .avatar{
    order: 2;
    padding: 10px 3px 0 18px;
}

.comment .avatar img{
    display: block;
    border-radius: 50%;
}

.comment.user-comment .avatar img{
    float: right;
}





/* The comment text */

.comment p{
    line-height: 1.5;
    padding: 18px 22px;
    width: 50%;
    position: relative;
    word-wrap: break-word;
}

.comment.user-comment p{
    background-color:  #f3f3f3;
}

.comment.author-comment p{
    background-color:  #e2f8ff;
    order: 1;
}

.user-comment p:after{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ffffff;
    border: 2px solid #f3f3f3;
    left: -8px;
    top: 18px;
}

.author-comment p:after{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ffffff;
    border: 2px solid #e2f8ff;
    right: -8px;
    top: 18px;
}




/* Comment form */

.write-new{
    margin: 80px auto 0;
    width: 50%;
}

.write-new textarea{
    color:  #444;
    font: inherit;

    outline: 0;
    border-radius: 3px;
    border: 1px solid #cecece;
    background-color:  #fefefe;
    box-shadow: 1px 2px 1px 0 rgba(0, 0, 0, 0.06);
    overflow: auto;

    width:100%;
    min-height: 80px;
    padding: 15px 20px;
}

.write-new img{
    border-radius: 50%;
    margin-top: 15px;
}

.write-new button{
    float:right;
    background-color:  #87bae1;
    box-shadow: 1px 2px 1px 0 rgba(0, 0, 0, 0.12);
    border-radius: 2px;
    border: 0;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;

    padding: 10px 25px;
    margin-top: 18px;
}

/*media queries para hacer el nav responsivo*/
@media screen and (max-width: 866px){
    .boton-menu{
        display: inline-block;
    }

    nav ul :not(:last-child){
        display: none;
    }

    nav ul li a{
        font-size: 14px;
        padding: 7px 13px;
    }

    label.logo{
        font-size: 35px;
        padding: 0 20px;
    }
    nav .boton-menu{
        position: absolute;
        right: 0;
        top: 0;
    }

    nav ul{
        width: 100%;
        display: block;
        float: left;
    }

    nav.responsive {position: relative;}

    nav.responsive .logo {
        display: block;
    }

    nav.responsive {
        height: auto;
    }
    
    .topnav.responsive ul :not(.boton-menu){
        float: none;
        display: block;
        text-align: left;
        height: auto;
    }

    .topnav.responsive li :not(.boton-menu) {
        display: block;
        line-height: 2em;
        width: 100%;
    }

    .topnav.responsive #search {
        display: block;
        text-align: left;
        margin: 0.6em;
    }

    .topnav.responsive #search input{
        padding: 0.2em;
        width: 125px;
        transition: width 1s;
    }
    
    .topnav.responsive #search input:focus{
        width: 250px;
    }
}



@media screen and (min-width: 867px) and (max-width: 1099px){
    nav ul li{
        margin: 0 1px;
    }

    nav ul li a{
        font-size: 14px;
        padding: 7px 7px;
    }

    label.logo{
        font-size: 28px;
        padding: 0 20px;
    }
}

@media screen and (min-width: 1100px) and (max-width: 1299px){
    nav ul li{
        margin: 0 5px;
    }

    nav ul li a{
        font-size: 16px;
        padding: 7px 11px;
    }
    
    label.logo{
        font-size: 31px;
        padding: 0 40px;
    }
}

@media screen and (min-width: 1300px){
    nav ul li{
        margin: 0 10px;
    }

    nav ul li a{
        font-size: 17px;
        padding: 7px 13px;
    }
    
    label.logo{
        font-size: 35px;
        padding: 0 100px;
    }
}