<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Populares - MemeStudio</title>
        <link rel="stylesheet" href="../styles/estilo.css">
    </head>
    <body onload="init();">
        <nav class="topnav">
            <label class="logo">MemeStudio</label>
            <ul>
                <li><a href="index.html">Inicio</a></li>
                <li id="btn-pop"><a href="populares.html">Populares</a></li>
                <li><a id="btn-us" onclick="redirigirUsuario(this);" href="">Usuario</a></li>
                <li class="boton-menu"><a href="javascript:void(0);" onclick="ajustarNavbar()">&#9776</a></li>
            </ul>
        </nav>
        
        <div class="py-2 container">
            <div class="p-1 mb-2 col-s-12 col-m-8 offset-m-2 back-white rounded-border">
                <div class="popu">
                    <h1 class="titulo-pop">Diario  /   <a href="popularesSemana.html">Semanal</a> /   <a href="popularesMes.html">Mensual</a> /   <a href="popularesMejores.html">Los mejores memes</a></h1>
                </div>
            </div>
        </div>

        <div class="py-2 container">
            
            <div id="contenedor-memes" class="divprop"></div>

            <div class=" mb-2 col-s-12 col-m-8 offset-m-2 back-white rounded-border text-center">
                <div class="row col-s-12">
                    <div id="sigsPags" class="flex-container p-1">
                        <div class="pag ActPag" onclick="clickSigPag(this);">1</div>
                        <div class="pag" onclick="clickSigPag(this);">2</div>
                        <div class="pag" onclick="clickSigPag(this);">3</div>
                        <div class="pag" onclick="ClickEnPagina(this);">Sig</div>
                    </div>
                </div>
            </div>

        </div>

    </body>

    <script src="../scripts/app.js"></script>
    <script src="../scripts/mostrarBotones.js"></script>
    <script src="../scripts/botonUsuario.js"></script>
    <script src="../scripts/navbar.js"></script>
    <script src="../scripts/likesDislikes.js"></script>
    <script src="../scripts/crearMeme.js"></script>
    <script src="../scripts/populares.js"></script>
</html>